default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Context\DefaultContext
                - App\Tests\Behat\Context\EntityManagerContext
                - App\Tests\Behat\Context\CommandContext
                - App\Tests\Behat\Context\MessengerContext

    extensions:
        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/bootstrap.php
            kernel:
                class: App\Kernel
