default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Context\DefaultContext
                - App\Tests\Behat\Context\EntityManagerContext
                - Barlito\Utils\Behat\Component\EntityManagerContext

#    extensions:
#        FriendsOfBehat\SymfonyExtension:
#            bootstrap: tests/bootstrap.php
#            kernel:
#                class: App\Kernel
